<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop</title>
<link rel="stylesheet" href="{%static 'css/liststyle.css'%}">
  {%block head%}

  {%endblock%}
</head>
<body>

<header>
  <h1>Internet Shop</h1>

  {%if !user.is_authenticated()%}
    <span>Login</span>
  {%endif%}
</header>
  {%block content%}

  {%endblock%}
</body>
</html>
